.CoverButtons-Container{
    background-color: #fafafa;
    display: flex;
    justify-content: space-around;
    padding-top: 7vw;
    padding-bottom: 7vw;
    padding-inline: 30vw;
}

@media screen and (min-width: 501px){
    .CoverButtons-Container{
        display: none;
    }

}
