
.BackgroundCoverImage {
    background-image: url("../../assets/coverImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 696px;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 48.3vw;
    object-fit: cover;
}

.search_box_container {
    align-self: center;
    display: flex;
    /*gap: 0.5vw;*/
    flex-direction: column;
    justify-content: center;
    width: 54vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.88);

}

.Epicure-works-with-t {
    font-family: HelveticaNeue;
    opacity: 0.6;
    font-size: 2.5vw;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1.97px;
    text-align: center;
}
.search_field_container{
    align-self: center;
}

