
.BackgroundCoverImage {
    background-image: url("../../assets/coverImage.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 696px;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 48.3vw;
    object-fit: cover;
}

.search_box_container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 54vw;
    height: 15vw;
    background-color: rgba(255, 255, 255, 0.88);

}
.Epicure-works-with-t {
    font-family: HelveticaNeue;
    opacity: 0.5 !important;
    font-size: 2.5vw;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1.97px;
    text-align: center;
}
.search_field_container{
    align-self: center;
}


@media screen and (max-width: 500px){
    .search_box_container{
        width: 89vw;
        height: 33vw;

    }
    .Epicure-works-with-t {
        align-self: center;
        font-size: 2.5vw;
        letter-spacing: 1px;
        font-size: 16px;
        width: 60vw;
    }


}
@media screen and (max-width: 700px) and (min-width: 501px){
    .search_box_container{
        width: 70vw;
        height: 26vw;

    }
    .Epicure-works-with-t {
             align-self: center;
             font-size: 2.5vw;
             letter-spacing: 1px;
             font-size: 16px;
             width: 60vw;
         }}
@media screen and (min-width: 1441px){
    .Epicure-works-with-t {
        align-self: center;
        width: 487px;
        font-size: 35px;
        letter-spacing: 1px;
    }}
