
.Card-Container_type_1 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: beige;
    width: 25vw;
    height: 24.5vw;
    max-width: 360px;
}

.Card-Container_type_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    background-color: beige;
    width: 25vw;
    height: 45vw;
    max-width: 360px;

}

.Card-Container_type_3 {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 16vw;
    height: 24.7vw;
    max-width: 231px;

}

.top-header {
    height: 2vw;
    font-family: HelveticaNeue;
    font-size: 2.5vw;
    letter-spacing: 1.77px;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconStyle {
    width: 3.2vw;
    height: 3vw;
    object-fit: contain;
    align-self: center;
}
.image_style_type_1{
object-fit: cover;
}
@media screen and (max-width: 623px) {
    .Card-Container_type_1 {
        width: 54vw;
        height: 80vw;
    }
        .image_style_type_1{
            object-fit: cover;
            height: 59vw;
        }

    .Card-Container_type_2 {
        width: 69vw;
        height: 122vw;
        gap: 0;
    }
    .top-header {
        height: 5vw;
        font-size: 4vw;
        letter-spacing: 0.94px;
    }
    .iconStyle {
        margin-top: 6vw;
        object-fit: contain;
        align-self: center;
        width: 10vw;
        height: 10vw;
    }
    .Card-Container_type_3 {
        width: 40vw;
        height: 53vw;
        gap: 0;
    }
    .image_style_type_3{
        object-fit: cover;
        height: 39vw;
        width: 40vw;
    }

}
