.Sub-title {
    font-family: HelveticaNeue;
    font-size: 1.6vw;
    font-weight: 100;
    letter-spacing: 1.25px;
    color: black;
    opacity: 0.5;
    max-height: 112px;
    margin-top: 1.5vw;
    padding-bottom: 2vw;
    padding-inline: 3vw;
}
