.Card-title {
    font-family: HelveticaNeue;
    letter-spacing: 0.251vw;
    font-size: 3vw;
    height: 2vw;
}


@media screen and (min-width: 1440px){
    .Card-title {
        font-size: 38.4px;
    }

}
