.bottom-card {
    display: flex;
    flex-direction: row;
}

.line {
    margin-inline: 1.5vw;
    flex: 0.5;
    height: 0.8px;
    background-color: black;
    opacity: 0.22;
    align-self: center;
}

.price-container {
    display: flex;
}

.ils {
    width: 15px;
    height: 15px;
    object-fit: contain;
    opacity: 0.55;
    margin: auto;
 margin-top: 10px;
    margin-right: 4px;

}
.imgContainer{
    justify-content: center;
}
.price {
    width: 2.5vw;
    height: 2.5vw;
    font-family: HelveticaNeue;
    font-size: 24.9px;
    letter-spacing: 1.66px;
    opacity: 0.55;
}
@media screen and (max-width: 623px){
    .line {
        height: 0.5vw;
    }
    .price {
        opacity: 1;
        width: 8vw;
        height: 7vw;
        font-size: 25px;
    }
    .ils {
        opacity: 1;
        width: 3vw;
    }
}
