
.Splide-container{
    padding-inline: 9vw;
    max-width: 1440px;

}
.Splide-container_type_3{
    padding-left: 9vw;
    padding-right:40vw;
    max-width: 1440px;
}
@media screen and (max-width: 623px){
    .Splide-container_type_3{
        padding-right:0vw;
        margin:auto;
    }
    .Splide-container{
        padding-right:0vw;
        margin: auto;
    }
}
@media screen and (min-width: 1440px){
    .Splide-container_type_3{
        padding-right:29vw;
    }
}
