
.Splide-container{
    padding-inline: 9vw;
    max-width: 1440px;
}
.Splide-container_type_3{
    padding-left: 9vw;
    padding-right:40vw;
    max-width: 1440px;
}
@media screen and (max-width: 623px){
    .Splide-container_type_3{
        padding-right:9vw;
        margin:auto;
        width: 60vw;
    }
}
