.All-Restaurants {
    font-family: HelveticaNeue;
    font-size: 30px;
    letter-spacing: 2px;
    color: black;
    margin-right: 12px;
}
.paragraph_container{
    margin-top: 31px;
    text-align: right;
    margin-inline:10vw;

}
@media screen  and (max-width: 1153px){
    .paragraph_container{
        display: none;
    }
}
