.Search_field {
    object-fit: contain;
    border-radius: 4px;
    /*border: solid 2px #C2BABC;*/
    display: flex;
    background-color: rgba(255, 255, 255, 0.11);
    width: 26vw;
    justify-content: space-between;
}
.big-Search_field {
    margin-bottom: 3vw;
    height: 4vw;
    object-fit: contain;
    border-radius: 4px;
    border: solid 2px #C2BABC;
    display: flex;
    background-color: rgba(255, 255, 255, 0.11);
    width: 35vw;
    justify-content: space-between;
}


.inputTextStyle {
    font-size: 1vw;
    opacity: 0.53;
    font-family: HelveticaNeue;
    letter-spacing: 1.29px;
    text-align: center;
    background: transparent;
    margin-left: 1vw;
    border: none;
    width:80%;

}

.inputExtraStyle-TextStyle {
    margin-left: 0 !important;
    margin-right: 1vw;
    font-size: 1.5vw;

}

.SearchIconStyle {
    align-self: center;
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 1vw;
}

.SearchExtraStyle-IconStyle {
    margin-right: 0 !important;
    margin-left: 1vw;
    width: 3vw;
    height: 3vw;
}

@media screen and (max-width: 920px ) {
    .Search_field {
        display: none;
    }
}
@media screen and (max-width: 500px){
    .big-Search_field {
        height: 8vw;
        width: 71vw;
    }
    .SearchExtraStyle-IconStyle {
        width: 4vw;
        height: 4vw;
    }
    .inputExtraStyle-TextStyle {
        width:100%;
        font-size: 3vw;
    }

}
@media screen and (max-width: 700px) and (min-width: 501px){
    .big-Search_field {
        height: 5vw;
        width: 55vw;
    }
    .SearchExtraStyle-IconStyle {
        width: 4vw;
        height: 4vw;
    }
    .inputExtraStyle-TextStyle {
        width:100%;
        font-size: 2.3vw;
    }

}
