.TopBar-Container{
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-side{
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    align-items: center;

}
.right-side{
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    align-items: center;

}

@media screen and (max-width: 500px){
    .right-side{
        gap: 4vw;
    }
}

.logo-image{
    width: 33px;
    height: 33px;
    object-fit: contain;
}

.large-text{
    font-size: 27px !important;
}
.text-style{
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.92px;
    opacity: 0.55;
}
.mobileMenuIcon{
    width: 18px;
    height: 14px;
}

.TopBarIcon{
    width: 23px;
    height: 23px;
    object-fit: contain;
}

@media screen and (min-width: 920px){
    .searchIcon{
        display: none;
    }
}
@media screen and (min-width: 501px){
    .mobileMenuIcon-Container{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .mobileMenuIcon-Container{
        flex:1;
        text-align: start;
    }
    .right-side{
        flex: 1;
        justify-content: flex-end;
    }
    .text-style{
        display: none;
    }
    .TopBar-Container{
        padding-inline: 3vw;
        justify-content: space-between;
    }
}

