.AboutUsBtnContainer{
    width: 181.4px;
    height: 52.8px;
    padding: 8px 11.7px 7.4px 10.5px;
    border-radius: 9.6px;
    border: solid 0.6px black;
    display: flex;
    justify-content: space-around;
}

.Os-icon{
    width: 23.1px;
    height: auto;
    object-fit: contain;
}
.Child-Container{
    display: flex;
    flex-direction: column;
}
.Title-style{
    width: 120px;
    font-family: HelveticaNeue;
    font-size: 13.2px;
    letter-spacing: 1.29px;
    text-align: center;
}
.Sub-title-Style{
    font-size: 16.8px;
}
@media screen and (max-width: 550px){
    .AboutUsBtnContainer{
        width: 33vw;
        height: 9vw;
        padding: 1vw;

    }
    .Os-icon{
        width: 4vw;
        height: auto;
    }
    .Title-style{
        width: 22vw;
        font-size: 2vw;
        letter-spacing: 0.1vw;
        text-align: center;
    }
    .Sub-title-Style{
        font-size: 3vw;
    }
}
